/* @override http://looce.com:3000/stylesheets/style.css */

/* @override http://looce.com:3000/stylesheets/style.css */
/* @override http://looce.com/css/style.css */

@import url("reset.css");


body {
	background: #f1f1f1 url(../images/bg.png) top left repeat-x;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}
p {
	line-height: 20px;
	margin: 10px 0;
}

a{
	text-decoration: none;
}
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; text-decoration: underline; }

h1, h2, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue'; 
	font-weight: bold;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#wrapper.grid_on {
	background: url(../images/grid.png) top left repeat-y;
}

header {
	float: left;
	width: 960px;
	margin-bottom: 46px;
}

h1 a{
	font-size: 72px;
	background: url(../images/logo.png) top left no-repeat;
	text-decoration: none;
	padding: 0;
	float: left;
	display: block;
	margin: 0;
}

#content {
	float: left;
	margin-bottom: 50px;
}

.block {
	float: left;
	width: 340px;
	background: #fff;
}

.block h2 {
	font-size: 24px;
	margin-top: 25px;
	margin-left: 25px;
}

.tweet {
	display: block;
	float: left;
	border: 1px dotted #cee6ff;
	margin: 10px 25px;
	padding: 25px;
}

.tweet h4 {
	font-weight: normal;
}

.meta {
	font-size: 10px;
	margin-top: 10px;
}


#photos.block {
	background: transparent;
	float: left;
}


#photos.block {
	width: 250px;
	margin-left: 62px;
}

.photo {
	margin-bottom: 50px;
}

.photo a:hover {
	text-decoration: none;
}
.photo h4 {
	font-weight: normal;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
	margin-top: 15px;
}

footer {
	clear: both;
}





