#tweets.block
  %h2 Tweets
  - for tweet in @tweets
    = render :partial => "tweet", :locals => { :tweet => tweet.get_parent }


#songs.block
  %h2 Songs
  - for song in @songs
    = render :partial => "song", :locals => { :song => song.get_parent }

#photos.block
  - for photo in @photos
    = render :partial => "photo", :locals => { :photo => photo.get_parent }
